Mortgage-Prepayment-Analysis-and-Prediction

In [14]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

#Load the dataset
df = pd.read_csv('LoanExport.csv')
df.info()

<ipython-input-14-abfb2288ef64>:5: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('LoanExport.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  EverDelinquent      291451 non-null  int64
 26  MonthsDelinquent    291451 non-null  int64
 27  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 46.7+ MB

In [15]:
print(df.head(10))

   CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  MIP  \
0            0            199902                  N        202901  16974   25
1            0            199902                  N        202901  19740    0
2            0            199902                  N        202901  29940    0
3            0            199902                  N        202901  31084    0
4            0            199902                  N        202901  35644    0
5            0            199902                  N        202901  X       25
6            0            199902                  N        202901  X       25
7            0            199902                  X        202901  36740    0
8            0            199902                  Y        202710  25540   30
9            0            199902                  Y        202901  48620   30

   Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  LoanPurpose  \
0      1         O     89   27  ...       60400  F199Q1268030            P
1      1         O     73   17  ...       80200  F199Q1015092            N
2      1         O     75   16  ...       66000  F199Q1266886            N
3      1         O     76   14  ...       90700  F199Q1178167            N
4      1         O     78   18  ...        7600  F199Q1178517            N
5      1         O     89   40  ...       80400  F199Q1224802            N
6      1         O     90   21  ...       53100  F199Q1291436            P
7      1         O     72   20  ...       32800  F199Q1001824            N
8      1         O     95   38  ...        6400  F199Q1079744            P
9      1         O     95   27  ...       67000  F199Q1196318            P

  OrigLoanTerm NumBorrowers SellerName          ServicerName EverDelinquent  \
0          360            2         FL  WASHINGTONMUTUALBANK              0
1          360            1         FT  CHASEHOMEFINANCELLC               0
2          360            2         FL  WASHINGTONMUTUALBANK              0
3          360            2         GM  GMACMTGECORP                      0
4          360            2         GM  GMACMTGECORP                      0
5          360            2         Ot  Other servicers                   0
6          360            1         RE  Other servicers                   0
7          360            1         NO   WELLSFARGOBANKNA                 1
8          345            1         Ot  Other servicers                   0
9          360            1         Ot   WELLSFARGOBANKNA                 1

  MonthsDelinquent MonthsInRepayment
0                0                52
1                0               144
2                0                67
3                0                35
4                0                54
5                0                42
6                0                44
7                3               145
8                0                64
9              104               212

[10 rows x 28 columns]

In [16]:

print(df.shape)

(291451, 28)

In [18]:
missing_values = df.isnull().sum()
print(missing_values)
missing_values = df[df.isnull().any(axis=1)]
print(missing_values)

CreditScore               0
FirstPaymentDate          0
FirstTimeHomebuyer        0
MaturityDate              0
MSA                       0
MIP                       0
Units                     0
Occupancy                 0
OCLTV                     0
DTI                       0
OrigUPB                   0
LTV                       0
OrigInterestRate          0
Channel                   0
PPM                       0
ProductType               0
PropertyState             0
PropertyType              0
PostalCode                0
LoanSeqNum                0
LoanPurpose               0
OrigLoanTerm              0
NumBorrowers              0
SellerName            24994
ServicerName              0
EverDelinquent            0
MonthsDelinquent          0
MonthsInRepayment         0
dtype: int64
        CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  \
32                0            199903                  N        202902  17900
37                0            199903                  N        202902  20500
38                0            199903                  N        202902  20764
40                0            199903                  N        202902  20764
44                0            199903                  N        202902  22744
...             ...               ...                ...           ...    ...
291359          816            199905                  N        202904  X
291374          817            199905                  N        202904  X
291384          818            199904                  N        202903  41740
291403          819            199904                  N        202903  19380
291415          819            199905                  N        202904  42044

        MIP  Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  \
32       30      1         O     95   18  ...       29000  F199Q1237803
37       25      1         O     90   29  ...       27500  F199Q1238547
38        0      1         I     85   46  ...        7700  F199Q1219516
40       30      1         O     95   21  ...        7700  F199Q1005696
44       30      1         O     95   35  ...       33000  F199Q1005620
...     ...    ...       ...    ...  ...  ...         ...           ...
291359   33      1         O    100    0  ...       75000  F199Q1401276
291374    0      1         O     35   10  ...       61400  F199Q1250721
291384    0      1         O     45   30  ...       92000  F199Q1365386
291403    0      1         O     75   53  ...       45400  F199Q1101670
291415    0      1         O     33   22  ...       92600  F199Q1366699

        LoanPurpose OrigLoanTerm NumBorrowers SellerName  \
32                P          360            1        NaN
37                P          360            1        NaN
38                P          360            1        NaN
40                P          360            1        NaN
44                P          360            2        NaN
...             ...          ...          ...        ...
291359            P          360            1        NaN
291374            P          360            2        NaN
291384            N          360            1        NaN
291403            P          360            1        NaN
291415            C          360            1        NaN

                ServicerName EverDelinquent MonthsDelinquent MonthsInRepayment
32       BAMORTGAGELLC                    0                0                46
37       BAMORTGAGELLC                    1                2                50
38      NATLCITYMTGECO                    0                0                24
40      NATLCITYMTGECO                    0                0                28
44      NATLCITYMTGECO                    1                2                39
...                      ...            ...              ...               ...
291359  Other servicers                   1                1                42
291374  NATLCITYMTGECO                    0                0                13
291384   BANKOFAMERICANA                  0                0                54
291403  Other servicers                   0                0                 2
291415   BANKOFAMERICANA                  0                0               149

[24994 rows x 28 columns]

In [17]:
df.isnull()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291446,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
291447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
291448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
291449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
291450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Count Missing Values in Each Column:

In [11]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")
#Identify duplicate rows
duplicates = df[df.duplicated()]
print(duplicates)

Number of duplicate rows: 0
Empty DataFrame
Columns: [CreditScore, FirstPaymentDate, FirstTimeHomebuyer, MaturityDate, MSA, MIP, Units, Occupancy, OCLTV, DTI, OrigUPB, LTV, OrigInterestRate, Channel, PPM, ProductType, PropertyState, PropertyType, PostalCode, LoanSeqNum, LoanPurpose, OrigLoanTerm, NumBorrowers, SellerName, ServicerName, EverDelinquent, MonthsDelinquent, MonthsInRepayment]
Index: []

[0 rows x 28 columns]

In [27]:
#Check if the DataFrame is empty
if df.empty:
    print("The DataFrame is empty.")
else:
    print(df.head())

   CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  MIP  \
0            0                68                  N        202901  16974   25
1            0                95                  N        202901  19740    0
2            0               198                  N        202901  29940    0
3            0               210                  N        202901  31084    0
4            0               250                  N        202901  35644    0

   Units Occupancy  OCLTV  DTI  ...    LoanSeqNum  LoanPurpose  OrigLoanTerm  \
0      1         O     89   27  ...  F199Q1268030            P           360
1      1         O     73   17  ...  F199Q1015092            N           360
2      1         O     75   16  ...  F199Q1266886            N           360
3      1         O     76   14  ...  F199Q1178167            N           360
4      1         O     78   18  ...  F199Q1178517            N           360

  NumBorrowers SellerName          ServicerName EverDelinquent  \
0            2         FL  WASHINGTONMUTUALBANK              0
1            1         FT  CHASEHOMEFINANCELLC               0
2            2         FL  WASHINGTONMUTUALBANK              0
3            2         GM  GMACMTGECORP                      0
4            2         GM  GMACMTGECORP                      0

  MonthsDelinquent MonthsInRepayment encoded_column
0                0                52             58
1                0               144             58
2                0                67             58
3                0                35             58
4                0                54             58

[5 rows x 29 columns]

In [30]:
#Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)
for col in categorical_columns:
    df[col] = df[col].astype(str)

label_encoder = LabelEncoder()

#Apply Label Encoding to each categorical column
for col in categorical_columns:
    df[col] = label_encoder.fit_transform(df[col])

print(df.head())

Categorical columns: Index(['PostalCode', 'LoanSeqNum', 'LoanPurpose', 'NumBorrowers', 'SellerName',
       'ServicerName'],
      dtype='object')
   CreditScore  FirstPaymentDate  FirstTimeHomebuyer  MaturityDate  MSA  MIP  \
0            0                68                   0        202901   68   25
1            0                95                   0        202901   95    0
2            0               198                   0        202901  198    0
3            0               210                   0        202901  210    0
4            0               250                   0        202901  250    0

   Units  Occupancy  OCLTV  DTI  ...  LoanSeqNum  LoanPurpose  OrigLoanTerm  \
0      1          1     89   27  ...      177680            2           360
1      1          1     73   17  ...        7145            1           360
2      1          1     75   16  ...      176597            1           360
3      1          1     76   14  ...      116959            1           360
4      1          1     78   18  ...      117300            1           360

   NumBorrowers  SellerName  ServicerName  EverDelinquent  MonthsDelinquent  \
0             1           7            17               0                 0
1             0           8             3               0                 0
2             1           7            17               0                 0
3             1          10            10               0                 0
4             1          10            10               0                 0

   MonthsInRepayment  encoded_column
0                 52              58
1                144              58
2                 67              58
3                 35              58
4                 54              58

[5 rows x 29 columns]

In [31]:

#Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to each categorical column
for col in ['PostalCode', 'LoanSeqNum', 'LoanPurpose', 'NumBorrowers', 'SellerName', 'ServicerName']:
    df[col] = label_encoder.fit_transform(df[col])

print(df.head())

   CreditScore  FirstPaymentDate  FirstTimeHomebuyer  MaturityDate  MSA  MIP  \
0            0                68                   0        202901   68   25
1            0                95                   0        202901   95    0
2            0               198                   0        202901  198    0
3            0               210                   0        202901  210    0
4            0               250                   0        202901  250    0

   Units  Occupancy  OCLTV  DTI  ...  LoanSeqNum  LoanPurpose  OrigLoanTerm  \
0      1          1     89   27  ...      177680            2           360
1      1          1     73   17  ...        7145            1           360
2      1          1     75   16  ...      176597            1           360
3      1          1     76   14  ...      116959            1           360
4      1          1     78   18  ...      117300            1           360

   NumBorrowers  SellerName  ServicerName  EverDelinquent  MonthsDelinquent  \
0             1           7            17               0                 0
1             0           8             3               0                 0
2             1           7            17               0                 0
3             1          10            10               0                 0
4             1          10            10               0                 0

   MonthsInRepayment  encoded_column
0                 52              58
1                144              58
2                 67              58
3                 35              58
4                 54              58

[5 rows x 29 columns]

 data encoding like label encoding and one hot encoding:

In [33]:
from sklearn.preprocessing import LabelEncoder

#Set a threshold for cardinality, e.g., columns with more than 100 unique values
high_cardinality_threshold = 100

#Initialize LabelEncoder
label_encoder = LabelEncoder()

for col in ['PostalCode', 'LoanSeqNum', 'LoanPurpose', 'NumBorrowers', 'SellerName', 'ServicerName']:
    if df[col].nunique() > high_cardinality_threshold:
        # Apply Label Encoding for high cardinality columns
        df[col] = label_encoder.fit_transform(df[col])
    else:
        # Apply One-Hot Encoding for lower cardinality columns
        df = pd.get_dummies(df, columns=[col], drop_first=True)

print(df.head())

   CreditScore  FirstPaymentDate  FirstTimeHomebuyer  MaturityDate  MSA  MIP  \
0            0                68                   0        202901   68   25
1            0                95                   0        202901   95    0
2            0               198                   0        202901  198    0
3            0               210                   0        202901  210    0
4            0               250                   0        202901  250    0

   Units  Occupancy  OCLTV  DTI  ...  ServicerName_10  ServicerName_11  \
0      1          1     89   27  ...            False            False
1      1          1     73   17  ...            False            False
2      1          1     75   16  ...            False            False
3      1          1     76   14  ...             True            False
4      1          1     78   18  ...             True            False

   ServicerName_12  ServicerName_13  ServicerName_14  ServicerName_15  \
0            False            False            False            False
1            False            False            False            False
2            False            False            False            False
3            False            False            False            False
4            False            False            False            False

   ServicerName_16  ServicerName_17  ServicerName_18  ServicerName_19
0            False             True            False            False
1            False            False            False            False
2            False             True            False            False
3            False            False            False            False
4            False            False            False            False

[5 rows x 68 columns]

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

print(df.columns)


#Assuming 'target' is the name of your target column
X = df.drop('EverDelinquent', axis=1)
y = df['EverDelinquent']

#Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#Initialize and apply StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("Data preparation completed. Ready for model building.")

Index(['CreditScore', 'FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate',
       'MSA', 'MIP', 'Units', 'Occupancy', 'OCLTV', 'DTI', 'OrigUPB', 'LTV',
       'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState',
       'PropertyType', 'PostalCode', 'LoanSeqNum', 'OrigLoanTerm',
       'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment',
       'encoded_column', 'LoanPurpose_1', 'LoanPurpose_2', 'NumBorrowers_1',
       'NumBorrowers_2', 'SellerName_1', 'SellerName_2', 'SellerName_3',
       'SellerName_4', 'SellerName_5', 'SellerName_6', 'SellerName_7',
       'SellerName_8', 'SellerName_9', 'SellerName_10', 'SellerName_11',
       'SellerName_12', 'SellerName_13', 'SellerName_14', 'SellerName_15',
       'SellerName_16', 'SellerName_17', 'SellerName_18', 'SellerName_19',
       'SellerName_20', 'ServicerName_1', 'ServicerName_2', 'ServicerName_3',
       'ServicerName_4', 'ServicerName_5', 'ServicerName_6', 'ServicerName_7',
       'ServicerName_8', 'ServicerName_9', 'ServicerName_10',
       'ServicerName_11', 'ServicerName_12', 'ServicerName_13',
       'ServicerName_14', 'ServicerName_15', 'ServicerName_16',
       'ServicerName_17', 'ServicerName_18', 'ServicerName_19'],
      dtype='object')
Data preparation completed. Ready for model building.

1. Perform regression and classification Models: 
2. Generate reports highlighting Confusion matrix and accuracy results.

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Initialize and fit the Logistic Regression model
model = LogisticRegression(random_state=42)
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Confusion Matrix:")
print(conf_matrix)
print("Classification Report:")
print(class_report)